POSTGRES_USER=lab22
POSTGRES_PASSWORD=lab22
POSTGRES_DB=lab22
POSTGRES_PORT=5422
PGWEB_PORT=8422
REDIS_PORT=6422

DATABASE_URL=postgres://lab22:lab22@localhost:5422/lab22
REDIS_URL=redis://localhost:6422

LOG_LEVEL=info
