POSTGRES_USER=lab40
POSTGRES_PASSWORD=lab40
POSTGRES_DB=lab40
POSTGRES_PORT=5440
PGWEB_PORT=8440

DATABASE_URL=postgres://lab40:lab40@localhost:5440/lab40

REDIS_PORT=6440
REDIS_URL=redis://localhost:6440

METRICS_PORT=9440

LOG_LEVEL=info
