POSTGRES_USER=lab36
POSTGRES_PASSWORD=lab36
POSTGRES_DB=lab36
POSTGRES_PORT=5436
PGWEB_PORT=8436

DATABASE_URL=postgres://lab36:lab36@localhost:5436/lab36

REDIS_PORT=6436
REDIS_URL=redis://localhost:6436

LOG_LEVEL=info
