POSTGRES_USER=lab21
POSTGRES_PASSWORD=lab21
POSTGRES_DB=lab21
POSTGRES_PORT=5421
PGWEB_PORT=8421

DATABASE_URL=postgres://lab21:lab21@localhost:5421/lab21

REDIS_PORT=6421
REDIS_URL=redis://localhost:6421

LOG_LEVEL=info
